<div style="margin-top: 50px;"></div>

<div style="background-color: #3d4050;">
<div class="container-fluid g-0 cvimg">
	<img style="object-fit: cover;" class="img-fluid w-100 min-vh-25 min-vh-md-50 mb-n7 cvimg" src="https://wallpapercave.com/wp/wp3277730.jpg" srcset="" sizes="" width="" height="" alt="Just a photo">
</div>


<div class="container p-5 mt-md-n6 position-relative rounded" style="margin-top: -100px; text-align: center; background-color: rgb(221, 218, 218);">
	<div class="row">
		<div class="col-md-4 text-center align-self-center">
			<div class="lc-block border-lg-end border-2 ">
				<div editable="rich">
					<p class="display-4" style="text-align: right; color: rgb(41, 38, 75); font-family:monospace">About</p>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="lc-block ">
				<div editable="rich">
					<p class="display-4" style="text-align: center; font-family:monospace">Rick And Morty</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="">
			<div class="lc-block mt-5">
				<div editable="rich">
					<p class="lead para">An animated series on adult-swim about the infinite adventures of Rick, a genius alcoholic and careless scientist, with his grandson Morty, a 14 year-old anxious boy who is not so smart. Together, they explore the infinite universes; causing mayhem and running into trouble.</p>
					<p class="lead para">Rick and Morty is an American adult animated television series created by Dan Harmon and Justin Roiland that premiered on December 2, 2013 on Cartoon Network's Adult Swim programming block. In Canada, it premiered on January 10, 2016 on the Canadian version of Cartoon Network's Adult Swim programming block. </p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container p-5 position-relative rounded" style="background-color: rgb(221, 218, 218); margin-top: 50px;">
	<p class="display-4" style="text-align: right; color: rgb(41, 38, 75); text-align: center; padding-bottom:3%; font-family:monospace">Plot</p>
	<p class="lead para" style="text-align: center; background-color: rgb(221, 218, 218);">
		After going missing for nearly 20 years, Rick Sanchez suddenly arrives at his daughter Beth’s doorstep looking to move in with her and her family. Beth welcomes him with open arms, but her unremarkable husband Jerry isn’t too thrilled about the tearful reunion as Rick’s arrival serves to shake things up quite a bit around the household. Rick converts the garage into his personal laboratory and gets to work on all sorts of dangerous sci-fi gadgets and contraptions. That wouldn’t be so bad if not for the fact that Rick continues to involve his grandchildren Morty and Summer in his insane adventures. With the exception of the Pilot episode, each episode ends with a post-credits scene.
	</p>
</div>





<div class="container my-5">
    <div class="row p-4 align-items-center rounded-3 border shadow-lg" style="background-color: rgb(221, 218, 218);">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 cimg" style="text-align: center;">
                    <img class=" shadow" src="https://pbs.twimg.com/profile_images/1396408794977087488/Q9DLdh35_400x400.jpg" alt="Rick Sanchez Image">
                </div>
                <div class="col-lg-6 cimg">
                    <div class="p-5 mt-4">
                        <h1 class="display-4" style="font-family:monospace">Rick Sanchez</h1>
                        <p class="lead">Rick Sanchez of Dimension C-137, commonly referred to as Rick C-137, is the titular main protagonist of Rick and Morty. He is a megagenius scientist whose alcoholism and reckless, nihilistic behavior are sources of concern for his "daughter's" family, as well as the safety of their son, Morty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
    
<div class="container my-5">
    <div class="row p-4 align-items-center rounded-3 border shadow-lg" style="background-color: rgb(221, 218, 218);">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 cimg">
                    <div class="p-5 mt-4">
                        <h1 class="display-4" style="font-family:monospace">Beth Sanchez</h1>
                        <p class="lead">She is the daughter of Rick and Diane Sanchez, the wife of Jerry Smith, and the mother of Summer Smith and the deceased Morty Smith. She currently acts as the mother and the daughter of the Morty Smith and Rick Sanchez from the Prime Dimension and Dimension C-137, respectively. She also works as a veterinarian at the St. Equis Hospital.</p>
                    </div>
                </div>
                <div class="col-lg-6 cimg" style="text-align: center;">
                    <img class=" shadow cimg" src="https://lezwatchtv.com/wp-content/uploads/2022/09/beth.png">
                </div>
            </div>
        </div>
    </div>
</div>
 
   
  
    
<div class="container my-5">
	<div class="row p-4  align-items-center rounded-3 border shadow-lg" style="background-color: rgb(221, 218, 218);">
		<div class="container my-5">
			<div class="row">
			  <div class="col-lg-6 cimg" style="text-align: center;">
				<img class=" shadow cimg" src="https://i.pinimg.com/originals/72/c3/3b/72c33b5df086100cfcd1c29aa02020b6.png" />
			  </div>
			  <div class="col-lg-6 cimg">
				<div class="p-5 mt-4">
					<h1 class="display-4" style="font-family:monospace">Jerry Smith</h1>
					<p class="lead">Jerry is the husband of Beth Smith, the father of Summer Smith and Morty Smith, and the son-in-law of Rick Sanchez. The first six episodes of Season 1 featured Jerry Smith Prime, while subsequent episodes featured a Jerry who was born in and inhabited Dimension C-131 up until episode 2 of season 2 where he switched places with this Jerry at the Jerryboree.</p>
					
				  </div>
			  </div>
		  </div>
		</div>
	</div>
</div>


  
  
    
<div class="container my-5">
	<div class="row p-4  align-items-center rounded-3 border shadow-lg" style="background-color: rgb(221, 218, 218);">
		<div class="container my-5">
			<div class="row">
			  <div class="col-lg-6 cimg">
				<div class="p-5 mt-4">
					<h1 class="display-4" style="font-family:monospace">Morty Smith</h1>
					<p class="lead">Morty is a 14-year-old boy loosely inspired by Michael J. Fox's Marty McFly from Back to the Future. Morty is known for his awkward, anxious, second-guessing, doubtful personality, and low sense of self-esteem; the character has been critically well-received.</p>
					
				  </div>
			  </div>
			  <div class="col-lg-6 cimg" style="text-align: center;">
				<img class=" shadow cimg" src="https://cdn.costumewall.com/wp-content/uploads/2017/01/morty-smith.jpg" />
			  </div>
		  </div>
		</div>
	</div>
</div>
 
 
  
<div class="container my-5">
	<div class="row p-4  align-items-center rounded-3 border shadow-lg" style="background-color: rgb(221, 218, 218);">
		<div class="container my-5">
			<div class="row">
			  <div class="col-lg-6 cimg" style="text-align: center;">
				<img class=" shadow cimg" src="https://imgix.ranker.com/list_img_v2/1688/2861688/original/2861688?fit=crop&fm=pjpg&q=80&dpr=2&w=1200&h=720" />
			  </div>
			  <div class="col-lg-6 cimg">
				<div class="p-5 mt-4">
					<h1 class="display-4" style="font-family:monospace">Summer Smith</h1>
					<p class="lead">Summer Smith is Rick's granddaughter that sometimes joins them on their adventures to another dimension when she is not too busy with her phone. Although not as smart as her Gradpa Rick, she is also a sociopathic and narcissistic girl.</p>
					
				  </div>
			  </div>
		  </div>
		</div>
	</div>
</div>




<footer class="text-center text-white " style="background-color: #3d4050; margin-top: -40px;">
        <div class="container">
          <hr class="my-5" />
          <section class="mb-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p>
                  This site project was made for Step Academy's last exam. It's my first full front-end project made using Angular 16. You can view the files on <a href="https://github.com/Mr-Tudor">my github profile.</a>
                </p>
              </div>
            </div>
          </section>
        </div>
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          2024 Rick and Morty Fanpage. <a href="https://github.com/Mr-Tudor" class="acc-color">Mr-Tudor</a>
        </div>
</footer>
	
</div>