<div style="margin-top: 50px;"></div>

<div style="background-color: #3d4050;">

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.shopify.com/s/files/1/0584/3841/files/Rick_Morty_copy_2048x2048.jpg?v=1599602622" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://4kwallpapers.com/images/wallpapers/rick-and-morty-rick-3840x1080-9531.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-preview.redd.it/ur9Lz2Jf6y5zrR6qHlwSWqCQ0XA2TBToBVnoz9DxcDY.jpg?width=1080&crop=smart&auto=webp&s=d5d3ec3ade8671c04805306b3df203c849699af0" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  
  
  
  <section class="py-5 responsive" style="background-color: #3d4050;">
    <div class="container">
      <h1 class="fw-dark" style="color: white; text-align: center;">Rick and Morty Fanpage</h1>
      <p class="lead" style="color: white; padding: 10px; text-align: center; padding-bottom: 15px; padding-top: 10px;">This is a site made for a Step Academy project. It's a project about Rick and Morty TV show, made using <a href="https://rickandmortyapi.com">Rick And Morty API.</a>!</p>
    </div>
    <section class="bass" style="height: 18vh;">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 mb-8 mb-md-0 gotodiv" [routerLink]="'/about'" style="padding: 20px;">
            <div class="d-flex px-8 py-6 rounded minidiv" style="background-color: rgb(221, 218, 218);">
              <div class=" ps-md-8 mw-lg " style="text-align: center;">
                <h3 class="mb-3" style="padding-top: 15px;">About</h3>
                <h5 class="text-secondary" style="padding-bottom: 10px;">Check information about our site, and general description of this show and its plot.</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 gotodiv" [routerLink]="'/character'" style="padding: 20px;">
            <div class="d-flex px-8 py-6 rounded minidiv" style="background-color: rgb(221, 218, 218);">
              <div class=" ps-md-8 mw-lg " style="text-align: center;">
                <h3 class="mb-3" style="padding-top: 15px;">Characters</h3>
                <h5 class="text-secondary" style="padding-bottom: 10px;">See the list of characters from the show and search for speceific ones.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  
  
  
  
      <footer class="text-center text-white footmargin" style="background-color: #3d4050;">
        <div class="container">
          <hr class="my-5" />
          <section class="mb-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p>
                  This site project was made for Step Academy's last exam. It's my first full front-end project made using Angular 16. You can view the files on <a href="https://github.com/Mr-Tudor">my github profile.</a>
                </p>
              </div>
            </div>
          </section>
        </div>
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          2024 Rick and Morty Fanpage. <a href="https://github.com/Mr-Tudor" class="acc-color">Mr-Tudor</a>
        </div>
      </footer>
    
    </div>